.card-container{
        background: #00000090;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}

.fullheight{
        height: 100%;
}

.white{
        background: #ffffff90;
}

.transparent{
        background: #00000050;
}
