
h2{
        margin: 0;
        color: #FFF;
}
canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

.conatiner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/r2dtos.appspot.com/o/images%2F10-7.png?alt=media&token=c07b1ac4-7b93-49a8-8c4e-019f861f915f');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.full-page__container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}